<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>I want to buy the record, <%= @disc.name %></h1>
    <h3>More Disc</h3>
    <p>
      <strong>Year:</strong>
      <%= @disc.year %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @disc.price %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @disc.state_name %>
    </p>
 
    <p>
 
    </p>
 
  </body>
</html>
