<div class="form-group">
  <%= f.text_field :email_source, class: "form-control", placeholder: "Informe o(s) email(s) de destino..." %>
</div>
<div class="form-group">
  <%= f.text_area :description, rows: 5, class: "form-control", placeholder: "Escreva o comentário..." %>
</div>
